<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!-- Database Connection String -->
    <add name="SeCommerce2" connectionString="Data Source=WIN-C1NG2KJIDQN;Initial Catalog=SeCommerce2;Persist Security Info=True;User ID=sa;Password=xiaohui;MultipleActiveResultSets=True;Connect Timeout=420" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>