<div class="col-sm-9" ng-controller="EditporequestCtrl">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-b-md">                           
                            <h2>{{porequest.FBillNo}}</h2>
                        </div>                      
                    </div>
                </div>
                <form class="form-horizontal m-t" id="commentForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ID：</label>
                        <div class="col-sm-8">
                            <input id="Id" name="Id" minlength="2" type="text" class="form-control" ng-model="porequest.Id" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">编号：</label>
                        <div class="col-sm-8">
                            <input id="FBillNo" name="FBillNo" type="text" class="form-control" ng-model="porequest.FBillNo" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">日期：</label>
                        <div class="col-sm-8">
                            <input id="FDate" name="FDate" type="text" class="form-control" ng-model="porequest.FDate" required="" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">说明：</label>
                        <div class="col-sm-8">
                            <input id="FNote" name="FNote" type="text" class="form-control" ng-model="porequest.FNote" required="" />

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button ng-click="save()" class="btn btn-primary" type="submit">提交</button>
                            <button ui-sref="index" class="btn btn-white" type="button">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
