<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        <li>
            <a href="profile.html">
                <div>
                    <strong>国民岳父</strong> 如何看待“男子不满自己爱犬被称为狗，刺伤路人”？——这人比犬还凶
                    <span class="pull-right text-navy">12分钟前</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        
        <li>
            <div class="text-center link-block">
                <a class="J_menuItem" href="/Api/Message/Index">
                    <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                </a>                
            </div>
        </li>
    </ul>
</li>