@model MuseCommerce.Core.Exception_Handling.ExtendedHandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">服务器内部错误</h3>

    <div class="error-desc">
        <ul>
            <li><span class="label">Exception Type</span>: @Model.Exception.GetType().FullName</li>
            <li><span class="label">StackTrace</span>: @Model.Exception.StackTrace</li>
        </ul>
        <br />您可以返回主页看看
        <br /><a href="/Home/Index" class="btn btn-primary m-t">主页</a>
    </div>
</div>