@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTables")
}


<div class="row" ng-app="mgaccountApp" ng-controller="mgaccountCtrl">
    <div ui-view></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularui")
    @Scripts.Render("~/bundles/mgaccountapp")
}

