<div class="col-sm-9" ng-controller="DisplayMGFuncCtrl">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-b-md">
                            <a ui-sref="index" class="btn btn-white btn-xs pull-right">返回</a>
                            <a ui-sref="edit({ID:'{{mgfuncid}}'})" class="btn btn-primary btn-xs pull-right">编辑项目</a>
                            <h2>{{mgfunc.FName}}</h2>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <dl class="dl-horizontal">
                            <dt>ID：</dt>
                            <dd>{{mgfunc.Id}}</dd>
                        </dl>                      
                        <dl class="dl-horizontal">
                            <dt>名称：</dt>
                            <dd>{{mgfunc.FName}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>路径：</dt>
                            <dd>{{mgfunc.FUrl}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>狀態：</dt>
                            <dd>
                                <span ng-if="!mgfunc.IsActive" class="label label-warning ">
                                    禁用
                                </span>
                                <span ng-if="mgfunc.IsActive" class="label label-info">
                                    可用
                                </span>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>權限碼：</dt>
                            <dd>{{mgfunc.FPermissionID}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


