<div class="col-sm-12" ng-controller="IndexMGFuncCtrl">
    <div class="ibox">
        <div class="ibox-title">
            <h5>所有项目</h5>
            <div class="ibox-tools">
                <a ui-sref="create" class="btn btn-primary btn-xs">创建新项目</a>
            </div>
        </div>
        <div class="ibox-content no-padding">
            <form method="get" class="form-horizontal">

                <div class="form-group row">

                    <label class="col-sm-1 control-label">名称</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="qname">
                    </div>

                    <label class="col-sm-1 control-label">路径</label>


                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="qurl">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="search()"> 搜索</button>
                    </div>
                </div>
            </form>


        </div>
    </div>

    <div class="ibox">
        <div class="ibox-content">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>路径</th>
                        <th>順序</th>
                        <th>狀態</th>
                        <th>权限碼</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in mgfuncs">
                        <td>{{ x.Id }}</td>
                        <td>{{ x.FName }}</td>
                        <td>{{ x.FUrl }}</td>
                        <td>{{ x.FPriority }}</td>
                        <td>
                            <span ng-if="!x.IsActive" class="label label-warning ">
                                禁用
                            </span>
                            <span ng-if="x.IsActive" class="label label-info">
                                可用
                            </span>

                        </td>
                        <td>{{ x.MGPermission.FName }}</td>
                        <td class="project-actions">
                            <a data-ng-click="forbidden(x.Id)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 禁用 </a>
                            <a data-ng-click="restore(x.Id)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 恢復 </a>
                        </td>
                        <td class="project-actions">
                            <a ui-sref="display({ID:'{{ x.Id }}'})" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
                            <a ui-sref="edit({ID:'{{ x.Id }}'})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 编辑 </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>