<div class="col-sm-6" ng-controller="SettingmgaccountCtrl">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-b-md">
                            <a ui-sref="index" class="btn btn-white btn-xs pull-right">返回</a>
                            <a ng-click="save()" class="btn btn-primary btn-xs pull-right">保存</a>
                            <h2>{{mgaccount.FUseName}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ibox-content">
                        <h4>角色列表</h4>
                        <input type="hidden" value="{{ mgaccount.Id }}" name="mgaccount.Id" id="mgaccount.Id" />
                        <input type="hidden" value="{{ mgaccount.FName }}" name="mgaccount.FName" id="mgaccount.FName" />

                        <ul class="todo-list m-t" ng-repeat="x in mgpermissionInfo">
                            <li>
                                <input type="checkbox" ng-model="x.check" ng-true-value="true" ng-false-value="false"
                                       name="mgaccount.Permissions[{{$index}}].Id" class="i-checks" />

                                <span class="m-l-xs">{{ x.FName }}</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-b-md">
                            <a ui-sref="index" class="btn btn-white btn-xs pull-right">返回</a>
                            <a ng-click="save()" class="btn btn-primary btn-xs pull-right">保存</a>
                            <h2>{{mgaccount.FName}}</h2>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


